<div class="admin-action-button">
    <MudButton Variant="@ButtonVariant"
               Color="@ButtonColor"
               OnClick="@HandleClick"
               Disabled="@Disabled"
               StartIcon="@Icon">
        @Text
    </MudButton>
</div> 