@* MenuBar.razor *@
@using Blazor.RCL.UIComponents.Components

<div>
    @* Main AppBar container *@
    <MudAppBar Fixed="true" Dense="true" Class="px-0 custom-appbar">
        <MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="px-0">
            <MudStack Row="true" Spacing="0" AlignItems="AlignItems.Center" Class="ml-0">
                @* Navigation Links *@
                @foreach (var link in _Links.Links)
                {
                    if (string.IsNullOrEmpty(link.Role))
                    {
                        <NavLink href="@link.Href" Match="NavLinkMatch.All" class="nav-link">
                            <MudButton Variant="Variant.Text" Class="custom-nav-button">
                                @link.Text
                            </MudButton>
                        </NavLink>
                    }
                    else
                    {
                        <AuthorizeView Roles="@link.Role">
                            <Authorized>
                                <NavLink href="@link.Href" Match="NavLinkMatch.All" class="nav-link">
                                    <MudButton Variant="Variant.Text" Class="custom-nav-button">
                                        @link.Text
                                    </MudButton>
                                </NavLink>
                            </Authorized>
                        </AuthorizeView>
                    }
                }

                <MudSpacer />

                 @* Options Panel *@
                <OptionsPanel />
                
                @* Help button *@
                <div class="d-flex align-center mr-2">
                    <HelpButton 
                        Color="Color.Info" 
                        Icon="@Icons.Material.Rounded.LiveHelp" 
                        Size="Size.Large"
                        Title="View Help Documentation" 
                        AriaLabel="Open application help and documentation" 
                        ShowLabel="true"
                        Label="Help Documentation"
                        Class="menu-bar-help-button" />
                </div>
            </MudStack>
        </MudContainer>
    </MudAppBar>
</div>