@* NavMenu.razor *@

<div>
    @* Main Drawer Container *@
    <MudDrawer @bind-Open="SideBarOpen" Clipped="true" Width="200px">
        @* Drawer Header *@
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">
                <div hidden="@(!SideBarOpen)">@AppConfiguration!.AppLabel</div>
            </MudText>
        </MudDrawerHeader>

        @* Navigation Menu *@
        <MudNavMenu>
            @* Render Links with Roles *@
            @foreach (var link in Links!.Links)
            {
                <AuthorizeView Roles="@link.Role">
                    <Authorized>
                        @if (link.IconType == "MudBlazor")
                        {
                            <MudNavLink Href="@link.Href" Icon="@(typeof(Icons.Material.Filled).GetField(link.Icon!)?.GetValue(null) as string)">@link.Text</MudNavLink>
                        }
                        else
                        {
                            <MudNavLink Href="@link.Href" Icon="@link.Icon">@link.Text</MudNavLink>
                        }
                    </Authorized>
                </AuthorizeView>
            }
        </MudNavMenu>

        <MudSpacer />

        @* Company Logo *@
        <MudContainer Class="logo-container d-flex justify-content-center">
            <MudImage Src="/Media/Automation_Logo.svg"
            Width="160"
             Class="logo-image" />
        </MudContainer>
    </MudDrawer>
</div>